<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileCoursework"
        tools:targetApi="31">
        <activity
            android:name=".AdminFeedbackFilter"
            android:exported="false" />
        <activity
            android:name=".AdminNotificationFilter"
            android:exported="false" />
        <activity
            android:name=".AdminAccountEdit"
            android:exported="false" />
        <activity
            android:name=".AdminDeleteConfirmation"
            android:exported="false" />
        <activity
            android:name=".AdminSendNotification"
            android:exported="false" />
        <activity
            android:name=".AdminFeedbackAndRatings"
            android:exported="false" />
        <activity
            android:name=".AdminListCustomers"
            android:exported="false" />
        <activity
            android:name=".AdminEditOrderStatus"
            android:exported="false" />
        <activity
            android:name=".AdminOrderFilter"
            android:exported="false" />
        <activity
            android:name=".AdminMenuItemFilter"
            android:exported="false" />
        <activity
            android:name=".AdminAddCafeItem"
            android:exported="false" />
        <activity
            android:name=".AdminIncomingOrders"
            android:exported="false" />
        <activity
            android:name=".AdminRegister"
            android:exported="false" />
        <activity
            android:name=".AdminCafeMenu"
            android:exported="false" />
        <activity
            android:name=".AdminHomePage"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>